@use 'foundation' as *;

.about__inner {
  max-width: 1090px;
}

.about__title {
  text-align: center;
  height: 121px;
  line-height: 1;
}

.about__title span {
  font-size: 70px;
  font-family: $bold;
  position: relative;
  display: inline-block;
  padding: 0 5px;
}

.about__title span:not(:first-child) {
  font-size: 50px;
}

.about__title span:nth-child(2) {
  top: 10px;
  transform: rotate(12deg);
}
.about__title span:nth-child(3) {
  top: 20px;
  transform: rotate(16deg);
}
.about__title span:nth-child(4) {
  top: 10px;
  transform: rotate(-5deg);
}

.about__title span:nth-child(5) {
  transform: rotate(-3deg);
}

.about__title span:nth-child(6) {
  top: 20px;
  transform: rotate(-10deg);
}

.about__title span:nth-child(7) {
  transform: rotate(-10deg);
}

.about__title span:nth-child(8) {
  top: 15px;
  transform: rotate(10deg);
}

.about__title span:nth-child(9) {
  top: 20px;
  transform: rotate(-5deg);
}

.about__title span:nth-child(10) {
  top: 2px;
  transform: rotate(10deg);
}

.about__title span:nth-child(11) {
  top: 20px;
  transform: rotate(-10deg);
}

.about__title span:nth-child(12) {
  transform: rotate(15deg);
}

.about__noza-img {
  max-width: rem(980);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: rem(100);
}

