@use 'foundation' as *;

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  padding: 0 40px;
}

.header__title {
  width: calc(138 / 1440) * 100vw;
  height: inherit;
  display: flex;
  align-items: center;
}

.header__logo {
  height: inherit;
  display: flex;
  align-items: center;
}






